* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 20%;
    padding: 30px;
    position: relative;
    left: 40%;
}

input {
    font-size: 16px;
}

#first-input {
    margin-bottom: 8px;
}

h3 {
    width: 30%;
    margin: auto;
}

hr {
    margin-top: 0;
    margin-left: -49px;
}

.highlited {
    background-color: green;
}